.Panel {
  box-sizing: border-box;
  position: relative;

  /* background: repeat url('../../img/rusty-iron-plate-bg.jpg'); */
  background: blueviolet;
  border-radius: 1px;
}

.Panel--frame {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background: repeat url('../../img/rusty-iron-plate-bg.jpg');
  border-radius: 1px;

  clip-path: polygon(10px 10px, calc(100% - 10px) 10px, calc(100% - 10px) 98%);
}
