.Panel {
  /* position: absolute; */
  right: 1ch;
  left: initial; /* can't set this from here since styles inline */
}

.Terminal--marquee {
  position: relative;
}

code, pre {
  white-space: pre;
}
