:root {
  --terminal-height: 150px;
  --terminal-width: calc(135px - var(--terminal-border-width));

  /* follow 3 edges */
  --border-clip: polygon(0% 0%, 76% 0%, 98% 26%, 91% 67%, 51% 100%, 0% 100%);

  /* follow 2 edges */
  /* --border-clip: polygon(0% 0%, 98% 0%, 98% 26%, 90% 67%, 50% 100%, 0% 100%); */

  /* follow 2 edges (alternate) */
  /* --border-clip: polygon(0% 0%, 100% 0%, 88% 67%, 45% 100%, 0% 100%); */

  /* follow 1 edge */
  /* --border-clip: polygon(0% 0%, 100% 0%, 100% 67%, 59% 100%, 0% 100%); */
}


.fake-border-container {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(var(--terminal-height) + 0.05 * var(--terminal-height));
  width: calc(var(--terminal-width) + 0.05 * var(--terminal-width));

  background-color: var(--battletech-grey);
  clip-path: var(--border-clip);
}

/* (terminal-container) */
.monogram-container {
  position: absolute;
  top: 0;
  left: 0;
  border-left: none;
  /* border-bottom-right-radius: 90px; */

  /* border: none; */
  /* clip-path: var(--border-clip); */

  /* --aug-clip-br1: initial;
  --aug-clip-br2: initial;
  --aug-br-extend1: 10px;
  --aug-br-extend2: 10px;
  --aug-br-inset1: 10px;
  --aug-br-inset2: 10px;
  --aug-border-bg: pink; */
}

.monogram-container > .terminal {
  height: 100%;
}

.monogram-container img {
  position: relative;
  top: 3%;
  left: 8%;
  height: 95%;
}

.latest-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 4em;
}

.latest-container pre,
.latest-container code {
  height: 1em;
  white-space: pre;
}
