/* prompt character(s) */
.Stdin::before {
  content: "$";
  padding: 0 1ch 0 0;
}

/* trailing cursor */
.Stdin:last-child::after {
  content: "\2593";
  padding-left: 0.1em; /* needs var? */
  animation: 0.6s cursor-blink infinite;
}

/* when blinking on empty line */
.Stdin:last-of-type:empty::after {
  padding-left: 0;
}

@keyframes cursor-blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}
