/* .Stdout {} */

.Stdout--normal {
  filter: var(--glow-white) var(--glow-white) brightness(1.5);
}

.Stdout--highlight {
  color: var(--reentry-orange);
  filter: var(--glow-highlight) var(--glow-highlight) brightness(1.5);
}
