/*
  with a black/transparent gradient used as a mask, the alpha
  values are multipled with the underlying content. so black
  shows content completely, while transparent hides it.
*/
/* 1920 / 19.2 = 60! */
/* 19.2px === 1ch @ 32px font-size */
:root {
  /* symbolic values */
  /* --terminal-rows: 2; number of lines visible */
  /* --terminal-columns: 20; number of characters per line */
  /* /symbolic values */

  /* --terminal-color: #ffffff;
  --terminal-bg-color: rgba(0, 0, 0, 0.75);
  --terminal-highlight-color: var(--reentry-orange); */

  /* --terminal-font-size: 32px; /* 32px is 100cols at 1080p */
  /* --terminal-line-horizontal-padding: 1ch;
  --terminal-line-vertical-padding: calc(0.15 * var(--terminal-font-size));
  --terminal-offscreen-shift: calc(0.5 * var(--terminal-font-size));
  --terminal-height: calc(
    ((1 + (var(--terminal-rows))) * (2 * var(--terminal-line-vertical-padding)))
    + (var(--terminal-rows) * var(--terminal-font-size))
  );
  --terminal-width: calc(
    (2 * var(--terminal-line-horizontal-padding))
    + (var(--terminal-columns) * 1ch)
  );  */


  /* --msk: repeating-linear-gradient(#000000 0px, #000000 3px, transparent 4px);
  --text-glow-default: 0px 0px 8px #666666;
  --text-glow-highlight: 0px 0px 8px rgba(var(--reentry-orange-rgb), 0.8);
  --glow-white: drop-shadow(var(--text-glow-default));
  --glow-highlight: drop-shadow(var(--text-glow-highlight)); */
}

/* ensure :root relative font-size lengths are correct */
/* html,
body {
  font-size: var(--terminal-font-size);
} */


/* .Terminal--container {
  box-sizing: border-box;
  position: relative;

  min-height: var(--terminal-height);
  height: var(--terminal-height);
  max-height: var(--terminal-height);

  min-width: var(--terminal-width);
  width: var(--terminal-width);
  max-width: var(--terminal-width);

  background-color: var(--terminal-bg-color);

  overflow: hidden;
} */


.Terminal {
  /* box-sizing: border-box;
  position: absolute;
  bottom: 0;
  min-height: 100%;
  width: 100%;
  padding: var(--terminal-line-vertical-padding) 0;

  background-color: var(--terminal-bg-color);
  color: var(--terminal-color);
  font-weight: bold;
  font-size: var(--terminal-font-size);

  -webkit-mask-image: var(--msk);
  mask-image: var(--msk);
  -webkit-mask-size: 200%;
  mask-size: 200%; */
  animation: terminal-drift 12s infinite alternate cubic-bezier(0.1, -0.6, 0.2, 0);
}


@keyframes terminal-drift {
  0% {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  100% {
    -webkit-mask-position: 0 var(--terminal-height);
    mask-position: 0 var(--terminal-height);
  }
}
